.card {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ddd;
  font-size: 1rem;
  img {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 30%;
    height: 35%;
  }
}
