.wrapper {
  height: 33%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  align-items: center;
}

@media only screen and (max-width: 580px) {
  .wrapper {
    height: 46%;
    flex-wrap: wrap;
  }
}
